<?xml version="1.0"?>
<launch>

  <!--For real hardware "ros_control"-->
  <arg name="controller" default="fake" />
  <arg name="moveit_controller_manager" value="$(arg controller)"/>
  <arg name="slave" default="false"/>"


  <arg name="load_robot_description" default="false" />
  <arg name="bagfile" default="false" />

  <include file="$(dirname)/demo_ros_control.launch" pass_all_args="true">
    <!-- robot description is loaded by gazebo.launch, to enable Gazebo features -->
    <arg name="load_robot_description" value="$(arg load_robot_description)" />
    <arg name="moveit_controller_manager" value="$(arg moveit_controller_manager)"/>
  </include>

  <include file="$(find yolov7_ros)/launch/yolov7.launch" pass_all_args="true" unless="$(arg slave)"/>
  <include file="$(find realsense2_camera)/launch/rs_camera.launch" unless="$(arg bagfile)"/>

  <node pkg="air_moveit_config" name="air_detection_publisher" type="detect_and_add_ball" output="screen"/>
  <node pkg="air_moveit_config" name="air_collision_publisher" type="add_sphere" output="screen"/>
  <node pkg="radius_estimation" name="regression_node"  type="estimate.py" output="screen"/>

</launch>
