<?xml version="1.0"?>
<launch>
  <!-- specify the planning pipeline -->
  <arg name="pipeline" default="ompl" />
  <arg name="controller" default="fake" />
  <arg name="moveit_controller_manager" value="$(arg controller)"/>

  <!--param name="robot_description" textfile="$(find air_description)/urdf/air.urdf" /-->

<!-- Given the published joint states, publish tf for the robot links -->
  <group if="$(eval arg('moveit_controller_manager') == 'ros_control')">
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="true" output="screen" args="-publish_frequency 50.0"/>
    <include file="$(dirname)/ros_controllers.launch">
      <arg name="hw" value="real"/>
    </include>
  </group>

  <include file="$(dirname)/demo.launch" pass_all_args="true">
    <!-- robot description is loaded by gazebo.launch, to enable Gazebo features -->
    <arg name="load_robot_description" value="true" />
    <arg name="moveit_controller_manager" value="$(arg moveit_controller_manager)"/>
  </include>
</launch>
