<?xml version="1.0"?>
<launch>
  <!-- Run MTC pick and place -->
  <node name="mtc_tutorial" pkg="air_moveit_config" type="pick_place_demo" output="screen">
    <param name="execute" value="true" />
    <rosparam command="load" file="$(find air_moveit_config)/config/air_config.yaml" />
  </node>
</launch>
